@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

 body {
    font-family: 'Jockey One', sans-serif;
    background: url("https://i.pinimg.com/originals/38/fe/9b/38fe9b334f83e4d248ab77c5b4ae3de1.jpg");
    background-size: 100% 100%;
 }

 div {
     background-image: linear-gradient(blue,red);
     color: white;
     text-align: center;
     margin: 10%;
     padding: 2%;
     border-radius: 10px;
 }

 img {
     width: 80%;
     border-radius: 10px;
 }

 h1 {
     font-size: 5em;
 }

 h2, h3 {
     font-size: 2.5em;
 }

 p {
     font-size: 1.5em;
 }

 img:hover {
     transform: scale(1.05);
     box-shadow: 0px 0px 5px 5px red;
 }

 h3:hover {
     animation: move 3s infinite;
 }

 @keyframes move {
     0% {
         color: blue;
     }

     50% {
         color: black;
         font-size: 3em;
     }

     100% {
         color: blue;
     }
 }